# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
src/__pycache__/engine.cpython-313.pyc
tests/__pycache__/test_engine.cpython-313.pyc
__pycache__/main.cpython-313.pyc
